{{- $announcements := newStringList -}}
{{- $breaking := newStringList -}}
{{- $features := newStringList -}}
{{- $changes := newStringList -}}
{{- $fixes := newStringList -}}
{{- $other := newStringList -}}

{{- range . -}}
  {{if has "announcement" .Labels -}}
	{{$features = append $announcements (renderReleaseNote .) -}}
  {{else if .BreakingChange -}}
	{{$breaking = append $breaking (renderReleaseNote .) -}}
  {{else if has "feature" .Labels -}}
	{{$features = append $features (renderReleaseNote .) -}}
  {{else if has "change" .Labels -}}
	{{$fixes = append $changes (renderReleaseNote .) -}}
  {{else if has "fix" .Labels -}}
	{{$fixes = append $fixes (renderReleaseNote .) -}}
  {{else -}}
	{{$other = append $other (renderReleaseNote .) -}}
  {{end -}}
{{- end -}}

{{- if gt (len $announcements) 0 -}}
{{range $announcements | sortAlpha -}}
{{. }}
{{end -}}
{{- end -}}

**Docker Image**: `{{ expandenv "$REGISTRY/$IMAGE_NAME:$GITHUB_REF_NAME" }}`

### Changelog

{{- if gt (len $breaking) 0}}
**Breaking Changes**:

{{range $breaking | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}

{{- if gt (len $features) 0}}
**Features**:

{{range $features | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}

{{- if gt (len $changes) 0}}
**Changes**:

{{range $changes | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}

{{- if gt (len $fixes) 0}}
**Fixes**:

{{range $fixes | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}

{{- if gt (len $other) 0}}
**Internal/Other**:

{{range $other | sortAlpha -}}
* {{. }}
{{end -}}
{{- end -}}
